*{
    margin: 0;
    font-family: 'Roboto';
}

body{
    width: 100%;
    
    padding: 0;
    margin: 0;
}

/*  navbar  */


nav{
    background-color: #67AECE;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    z-index: 99;
}

nav ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

nav a{
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 4px 10px;
}

nav a:hover{
    background-color: #4f87a1;
}

/*    General    */

.rose-highlight{
    color: #E52A6F;
    font-size: 40px;
}

.half-block p{
    color: gray;
    text-align: justify;
    padding: 20px 0px 30px;
    font-size: 16px;
}

section{
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0px;
    text-align: center;
}

.half-block{
    padding: 5%;
    width: 30%;
    height: 60%;
    overflow: auto;
    text-align: left;
}

.img-block{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-block img{
    width: 75%;
}

.btn-link{
    color: white;
    text-decoration: none;
    background-color: #E52A6F;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.btn-link:hover{
    background-color: #af2054;
}


/*     Home Page     */

.home-page{
    background-image: url("images/background/header-bg.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*     Biography Page      */

.biography-page{
    background-image: url("images/background/biography-bg.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*     Latest-Work-Page       */

.latest-work-page{
    background-image: url("images/background/latest-work-bg.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.work-list{
    width: 80%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: auto;
}
.work-list img{
    width: 30%;
    border-radius: 5px;
    box-shadow: 1px 1px 10px gray;
    cursor: pointer;
    transition: 0.5s;
}

.work-list img:hover{
    transform: scale(1.05);
}

/*     Feedback-Page       */

.feedback-page{
    background-image: url("images/background/footer-bg.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.client{
    width: 80%;
    height: 20%;
    margin: 20px 20px 10px;
}
.client-title{
    font-size: 14px;
    color: gray;
}
.client-quote{
    font-size: 16px;
    margin: 20px;
}

/*     Message     */
.message-box{
    width: 35%;
    padding: 15px 0px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px gray;
}
.input-field{
    width: 90%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1.5px dotted #4f87a1;
    margin-bottom: 10px;
    font-size: 16px;
}




/*      footer      */
footer p{
    font-size: 12px;
    color: gray;
    text-align: center;
}



/*    Portrait Mode   */
@media screen and (orientation:portrait) {
    /*   navbar   */
    nav ul{
        justify-content: space-evenly;
    }
    /*    General    */
    .half-block p{
        padding: 5px 0px 15px;
        font-size: 14px;
    }
    .half-block{
        padding: 0;
        width: 90%;
        height: 50%;
    }
    .img{
        height: 35%
    }
    .img-block img{
        width: 45%;
    }
    /*     home-page     */
    .home-page{
        flex-direction: column-reverse;
    }
    /*     bio-page     */
    .biography-page{
        flex-direction: column;
    }
    /*     work-page     */
    .work-list{
        flex-direction: column;
        height: 80%;
    }
    .work-list img{
        width: 50%;
    }
    /*    feedback-page     */
    .client{
        width: 80%;
        height: 20%;
        margin: 20px;
    }
    .client-quote{
        font-size: 16px;
        margin: 0px;
    }
    .message-box{
        width: 80%;
        padding: 10px 0;
        
    }

}